        <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2><i class="fa fa-arrow-up text-info"></i> <strong>Modificar Pago de Cliente</strong></h2>
               
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
 
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">

                            <form action="/cccCredito/edit-credito/{{result_credito.id_movicc}}?_method=PUT" method="POST">
                                <div class="col-sm-12"></div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Fecha</label>
                                    <div class="col-sm-10"><input type="date" name="fecha" class="form-control" placeholder="Ingrese fecha" value="{{result_credito.fecha}}" /></div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Monto</label>
                                    <div class="col-sm-10"><input type="text" name="monto" class="form-control" placeholder="Ingese Monto"  value="{{result_credito.monto}}" /></div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cliente</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_cliente" class="form-control show-tick">
                                            <option value="{{result_credito.id_cliente}}">{{result_credito.tx_cliente}}</option>
                                            {{#each result_cliente}}
                                                <option value="{{this.id_cliente}}">{{this.tx_cliente}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Tipo Comprobante</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_movicc_tipo_comprobante" class="form-control show-tick">
                                            <option value="{{result_credito.id_movicc_tipo_comprobante}}">{{result_credito.tx_movicc_tipo_comprobante}}</option>
                                            {{#each result_comprobante}}
                                                <option value="{{this.id_movicc_tipo_comprobante}}">{{this.tx_movicc_tipo_comprobante}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nro Comprob.</label>
                                    <div class="col-sm-10"><input type="text" name="nro_comprob" class="form-control" placeholder="Nro de Comrobante"  value="{{result_credito.nro_comprobante}}" /></div>
                                </div>    

                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Forma de Pago</label>
                                    <div class="col-md-10">    
                                        <select  name ="id_movicc_formapago" class="form-control show-tick">
                                            <option value="{{result_credito.id_movicc_movicc_formapago}}">{{result_credito.tx_movicc_formapago}}</option>
                                            {{#each result_formapago}}
                                                <option value="{{this.id_movicc_formapago}}">{{this.tx_movicc_formapago}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Observaciones</label>
                                    <div class="col-sm-10"><input type="text" name="observaciones" class="form-control" placeholder="Obsevaciones"  value="{{result_credito.observaciones}}" /></div>
                                </div>
            
                                <div class="hr-line-dashed"></div>                                                                                              
                                    <button class="btn btn-primary btn-block" type="submit">Guardar Cambios en Pago Cliente</button>
                                </div>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>